@import '../../scss/variables';

.table {
  margin-bottom: 150px;
  table {
    border-collapse: separate !important;
    border-spacing: 0px 16px !important;
    border-radius: 10px;
  }
  * {
    color: #fff !important;
  }
  th {
    border: none;
    padding: 0 17px 21px;
  }
  td {
    border: none;
  }
  tr {
  }
}

.head {
  th {
    font-weight: 400;
  }
}
