@import '../../scss/variables';

.table {
  min-height: 700px;
  margin-bottom: 150px;
  table {
    border-collapse: separate !important;
    border-spacing: 0px 16px !important;
    border-radius: 10px;
  }
  * {
    color: #fff !important;
  }
  th {
    border: none;
    padding: 0 17px 21px;
  }
  td {
    border: none;
  }
  tr {
  }
}

.head {
  th {
    font-weight: 400;
  }
}

.select {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
  &:hover {
    div {
      background-color: $main2;
    }
  }
  div {
    background-color: $main;
    border-radius: 5px;
  }
  :global {
    .MuiSelect-select {
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 14px !important;
      line-height: 17px !important;
      font-family: $font !important;
      font-weight: 600 !important;
    }
  }
  * {
    color: #fff !important;
  }
}
