@import '../../scss/variables';

.item {
  td {
    border: solid 1px $main2;
    border-style: solid none;
    background-color: $main2;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
  }
  td:first-child {
    border-left-style: solid;
    border-top-left-radius: 11px;
    border-bottom-left-radius: 11px;
  }
  td:last-child {
    border-right-style: solid;
    border-bottom-right-radius: 11px;
    border-top-right-radius: 11px;
  }
}

.row {
  display: flex !important;
  align-items: center;
  img {
    width: 43px;
    height: 43px;
    margin-right: 17px;
  }
}
.info {
  .fullName {
    font-weight: 600;
    font-size: 15px;
    line-height: 21px;
    margin-bottom: 3px;
  }
  .name {
    font-weight: 700;
    font-size: 10px;
    line-height: 15px;
  }
}

.red {
  color: $red !important;
}
.green {
  color: $green !important;
}
